body {
    background-image: url('../img/agenda.jpg'); /* Ruta corregida con barras normales */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%; /* Ajustar el ancho máximo al 100% */
    margin: 0 auto; 
    padding: 0px; /* Agregar un espacio de relleno alrededor del contenido */
}

/* Estilo para el botón "Entrar" al pasar el mouse sobre él */
.btn-secondary.back-button {
    background-color: #02879f; /* Nuevo color de fondo al pasar el mouse */
    border-color: #02879f; /* Nuevo color del borde al pasar el mouse */
    color: #fff; /* Nuevo color del texto al pasar el mouse */
}
