/* Estilos generales del cuerpo */
body {
    color: white; /* Color de texto blanco */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    font-family: "Segoe UI", Arial, sans-serif; /* Fuente del texto */
}

/* Contenedor principal */
.content {
    margin: 20px; /* Margen exterior */
    padding: 20px; /* Relleno interior */
    background-color: skyblue; /* Fondo blanco */
}

/* Sección de inicio de sesión */
.login-section {
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 70vh; /* Altura del 70% del viewport */
}

/* Cuadro de inicio de sesión */
.login-box {
    width: 400px; /* Ancho fijo */
    background-color: lightslategray; /* Color de fondo verde */
    padding: 20px; /* Relleno interior */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Mensaje del cuadro de inicio de sesión */
.login-box .login-box-msg {
    margin-bottom: 15px; /* Margen inferior */
}

/* Grupo de entrada del cuadro de inicio de sesión */
.login-box .input-group {
    margin-bottom: 15px; /* Margen inferior */
}

/* Texto del grupo de entrada del cuadro de inicio de sesión */
.login-box .input-group-text {
    background-color: lightslategray; /* Color de fondo blanco */
    border: none; /* Sin borde */
}

/* Botón de inicio de sesión */
.login-box .btn-primary {
    background-color: skyblue; /* Color de fondo verde */
    border-color: skyblue; /* Color del borde */
    width: 100%; /* Ancho del 100% */
    color: white; /* Color de texto blanco */
}

/* Estilo de desplazamiento del botón de inicio de sesión */
.login-box .btn-primary:hover {
    background-color: skyblue; /* Color de fondo verde oscuro */
    border-color: skyblue; /* Color del borde */
}
