
main {
    display: flex; /* Usar flexbox para colocar elementos en fila */
    justify-content: center; /* Centrar los elementos horizontalmente */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan si no caben en una sola línea */
}

main button {
    margin: 0 10px; /* Margen entre botones */
}
.botones {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #539B3E;
    border: 1px solid #407A29;
    cursor: pointer;
    color: white; /* Color del texto */
    text-decoration: none; /* Quitar subrayado del texto */
    display: block; /* Mostrar como bloque para ocupar toda la anchura */
    margin-bottom: 10px; /* Espacio entre botones */
    width: 100px; /* Ancho de los botones */
    text-align: center; /* Centrar texto */
}

.botones:hover {
    background-color: #407A29; /* Cambiar color de fondo al pasar el ratón */
}

.opciones-administrador {
    border: 1px solid #ccc; /* Borde de la caja */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.opciones-administrador h2 {
    margin-top: 0; /* Eliminar margen superior del título */
}

.menu {
    width: 200px;
    float: left;
    font-family: Arial, sans-serif;
    list-style-type: none;
    padding: 0;
}

.menu h3 {
    padding: 10px;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu button {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.menu .submenu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Estilo para ocultar el submenu por defecto */
.menu .submenu {
    display: none;
}

/* Estilo para mostrar el submenu cuando la clase 'mostrar' está presente */
.menu .submenu.mostrar {
    display: block;
}

.menu .submenu li {
    padding: 5px 10px;
}

.menu a {
    text-decoration: none;
}

.menu button:hover {
    background-color: #539B3E;
    ;
    font-style: white;
}

.back-button {
    position: fixed;
    bottom: 70px; /* Altura del footer + 10px de espacio */
    right: 20px;
    padding: 10px 20px;
    background-color: #539B3E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para la tabla */
.styled-table {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.styled-table th {
    background-color: #f2f2f2;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #ddd;
}

/* Estilos para la tabla Modificar */
main {
    display: flex;
}

.Modificar {
    flex: 1; /* Ocupa todo el espacio restante */
    margin-left: 20px; /* Ajusta el margen según sea necesario */
    width: calc(50% - 20px); /* Calcula el ancho para que sea el 50% del contenedor menos el margen */
    border-collapse: collapse;
    border-spacing: 0;
}

.Modificar th,
.Modificar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.Modificar th {
    background-color: #f2f2f2;
}

.Modificar tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.Modificar tbody tr:hover {
    background-color: #ddd;
}
.Modificar {
    margin-top: 10x; /* Ajusta el margen superior según sea necesario */
}
aside {
    width: 200px;
    height: 100px;
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}


.cerrarSesion {
    float: left;
    margin-right: 10px;
}